
@{
    ViewBag.Title = "Index";
}

<h2>The Golden Squirrel</h2>

<div class="card-group">
    <div class="card">
        <img class="card-img-top" src="https://pbs.twimg.com/profile_images/1087746536665243649/hO-51lBr.jpg" alt="Card image cap">
    </div>
    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
    </div>
    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
    </div>
</div>
<div class="card-group">
    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
    </div>
    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
    </div>
    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
    </div>
</div>
<div class="card-group">
    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
    </div>
    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
    </div>
    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
    </div>
</div>